@model SchoolProject.Models.Form.Student;
@using SchoolProject.Models.Data;

<link rel="stylesheet" href="~/css/adminhome.css" />
<div class="container-login100" style="background-image: url('/img/konkuk.jpg');">
<div class="sidenav">
  <img src="~/img/students.png" class="img-circle" width="80" height="80">
  <h4>Student Menu</h4><br><br>
  <a href="/School/Student">Home</a>
  <a href="/School/Student/ViewGrade">View Grade</a>
  <a href="/School/Student/ViewAttendance">View Attendance</a>
  <a href="/School/Student/Profile">View Profile</a>
  <a id="logout" asp-controller="LoginStudent" asp-action="studlogout">Logout</a>
</div>

<div class="main">
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav" style="margin-left: auto;">
        <li class="nav-item">
          @{
            <a class="navbar-brand">@DateTime.Now.ToString("dddd , MMM dd, yyyy")</a>
          }
        </li>
      </ul>
    </div>
  </nav>
  @using(Html.BeginForm("SubmitForm", "StudentGrade", FormMethod.Post))
  {
    <div class="tableadmin">
      <h3>My Profile</h3>
      <table class="table table-sm table-bordered">

        <tbody>
          @{
            @foreach (var item in @ViewBag.student as IEnumerable<Student>)
            {
              <tr>
                <td>Student ID</td>
                <td>@Html.TextBoxFor(m => m.student_id, new{@class="form-control",  @placeholder=@item.student_id})</td>
                <td></td>
              </tr>
              <tr>
                <td>Last Name</td>
                <td>@Html.TextBoxFor(m => m.lastname, new{@class="form-control",  @placeholder=@item.lastname})</td>
                <td></td>
              </tr>
              <tr>
                <td>First Name</td>
                <td>@Html.TextBoxFor(m => m.firstname, new{@class="form-control",  @placeholder=@item.firstname})</td>
                <td></td>
              </tr>
              <tr>
                <td>Middle Name</td>
                <td>@Html.TextBoxFor(m => m.middlename, new{@class="form-control",  @placeholder=@item.middlename})</td>
                <td></td>
              </tr>
              <tr>
                <td>Program</td>
                <td>@Html.TextBoxFor(m => m.program, new{@class="form-control",  @placeholder=@item.program})</td>
                <td></td>
              </tr>
              <tr>
                <td>Year Level</td>
                <td>@Html.TextBoxFor(m => m.yearlevel, new{@class="form-control",  @placeholder=@item.yearlevel})</td>
                <td></td>
              </tr>
              <tr>
                <td>Username</td>
                <td>@Html.TextBoxFor(m => m.username, new{@class="form-control",  @placeholder=@item.username})</td>
                <td>
                  <a href="#">Edit</a>
                  <span> | </span>
                  <a href="#">Delete</a>
                </td>
              </tr>
              <tr>
                <td>Password</td>
                <td>@Html.TextBoxFor(m => m.password, new{@class="form-control",  @placeholder=@item.password})</td>
                <td>
                  <a href="#">Edit</a>
                  <span> | </span>
                  <a href="#">Delete</a>
                </td>
              </tr>
            }
          }
        </tbody>
      </table>
    </div>
  }
</div>
</div>