@model SchoolProject.Models.Form.Subject;
@using Microsoft.AspNetCore.Http;

@{
  if(@Context.Session.GetString("username") == null)
  {
    Context.Response.Redirect("/School/LoginAdmin");
  }
}
<link rel="stylesheet" href="~/css/adminsubject.css" />
<div class="container-login100" style="background-image: url('/img/konkuk.jpg');">
<div class="sidenav">
  <img src="~/img/engineer.png" class="img-circle" width="80" height="80">
  <h4>Admin Menu</h4><br><br>
  <a href="/School/Admin">Home</a>
  <a href="/School/AddStudent">Add Student</a>
  <a href="/School/AddParent">Add Parent</a>
  <a href="/School/AddProfessor">Add Professor</a>
  <a href="/School/AddProgram">Add Program</a>
  <a href="/School/AddSubject">Add Subject</a>
  <a href="/School/AddAdmin">Add Admin</a>
  <a id="logout" asp-controller="LoginAdmin" asp-action="logout">Logout</a>
</div>
<div class="main">
  <nav class="navbar navbar-expand-lg navbar-light">
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav" style="margin-left: auto;">
      <li class="nav-item">
        @{
          <a class="navbar-brand">@DateTime.Now.ToString("dddd , MMM dd, yyyy")</a>
        }
      </li>
    </ul>
  </div>
  </nav>
  <h4 style="margin-top: 20px; margin-bottom: 30px;">Add Subject</h4>
  @using(Html.BeginForm("SubmitForm", "AddSubject", FormMethod.Post))
  {
    <form>
      <div class="form-group row">
        <div class="col-xs-3">
          <label for="exampleInputEmail1">Subject Id</label>
          @Html.TextBoxFor(m => m.subject_id, new{@class="form-control",  @placeholder="Enter Subject Id"})
        </div>
        <div class="col-xs-3">
          <label for="exampleInputEmail1">Subject Code</label>
          @Html.TextBoxFor(m => m.subject_code, new{@class="form-control",  @placeholder="Enter Subject Code"})
        </div>
        <div class="col-xs-3">
          <label for="exampleInputEmail1">Subject Title</label>
          @Html.TextBoxFor(m => m.subject_title, new{@class="form-control",  @placeholder="Enter Subject Title"})
        </div>
      </div>
      <div class="form-group row">
        <div class="col-xs-3">
          <label for="exampleInputEmail1">Units</label>
          @Html.TextBoxFor(m => m.units, new{@class="form-control",  @placeholder="Enter Units"})
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  }
</div>
</div>